<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header('Leave Balance')"></head>

<body>

<div th:replace="fragments/sidebar :: sidebar"></div>
<div th:replace="fragments/header :: topbar"></div>

<div class="content">
    <div class="container-fluid">

        <h3 class="mb-4">Leave Balance</h3>

        <div class="card shadow-sm p-4">

            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                <tr>
                    <th>Leave Type</th>
                    <th>Total</th>
                    <th>Used</th>
                    <th>Remaining</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="balance : ${balances}">
                    <td th:text="${balance.leaveType.typeName}"></td>
                    <td th:text="${balance.totalLeaves}"></td>
                    <td th:text="${balance.usedLeaves}"></td>
                    <td th:text="${balance.remainingLeaves}"></td>
                </tr>

                <tr th:if="${#lists.isEmpty(balances)}">
                    <td colspan="4" class="text-center text-muted">
                        No Leave Balance Available
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>