<div th:fragment="sidebar(view)" class="sidebar">

    <h4 class="text-center mb-4">RevWorkForce</h4>
   
    <a th:href="@{/admin/dashboard}"
       th:classappend="${view == 'dashboard'} ? ' active' : ''">
        <i class="bi bi-speedometer2"></i> Dashboard
    </a>
    
    <a th:href="@{/admin/profile}"
       th:classappend="${view == 'profile'} ? ' active' : ''">
        <i class="bi bi-person-circle"></i> My Profile
    </a>
   
    <a th:href="@{/admin/employee-management}"
       th:classappend="${view == 'employee'} ? ' active' : ''">
        <i class="bi bi-people"></i> Employee Management
    </a>
    
    <a th:href="@{/admin/leave-management}"
       th:classappend="${view == 'leave'} ? ' active' : ''">
        <i class="bi bi-calendar-check"></i> Leave Management
    </a>
   
    <a th:href="@{/admin/holiday}"
       th:classappend="${view == 'holiday'} ? ' active' : ''">
        <i class="bi bi-calendar-event"></i> Holiday Calendar
    </a>
 
    <a th:href="@{/admin/announcement}"
       th:classappend="${view == 'announcement'} ? ' active' : ''">
        <i class="bi bi-megaphone"></i> Announcements
    </a>
   
    <a th:href="@{/admin/system-config}"
       th:classappend="${view == 'system-config'} ? ' active' : ''">
        <i class="bi bi-gear"></i> Departments
    </a>
	
	<a th:href="@{/ui/notifications}"
	   th:classappend="${view == 'notifications'} ? ' active' : ''">
	    <i class="bi bi-bell"></i> Notifications
	</a>
    
    <a th:href="@{/admin/logs}"
       th:classappend="${view == 'logs'} ? ' active' : ''">
        <i class="bi bi-bar-chart-line"></i> Activity Logs
    </a>
  
    <a th:href="@{/logout}">
        <i class="bi bi-box-arrow-right"></i> Logout
    </a>

</div>